@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PP Mori';
  src: url('/fonts/PPMori-Regular.woff2') format('woff2'),
    url('/fonts/PPMori-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Mori';
  src: url('/fonts/PPMori-SemiBold.woff2') format('woff2'),
    url('/fonts/PPMori-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  --foreground-rgb: 243, 244, 246;
  --background-start-rgb: 8, 37, 43;
  --background-end-rgb: 8, 37, 43;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #08252b;
  font-family: 'PP Mori', 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Force architectural sharp edges globally */
* {
  border-radius: 0px !important;
}

/* Custom scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #08252b;
}

::-webkit-scrollbar-thumb {
  background: #2e4a51;
}

::-webkit-scrollbar-thumb:hover {
  background: #ba0024;
}